In [1]:
#import necessary libraries
import pandas as pd 
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

In [2]:
df1 = pd.DataFrame({'Country': ['Ghana', 'India', 'China', 'USA']})
df1

  Country
0   Ghana
1   India
2   China
3     USA

In [3]:
#OneHotEncoding with pandas get_dummies
pd.get_dummies(df1)

   Country_China  Country_Ghana  Country_India  Country_USA
0              0              1              0            0
1              0              0              1            0
2              1              0              0            0
3              0              0              0            1

In [4]:
#OneHotEncoding with sklearn.prepropocessing's OneHotEncoder
df2 = pd.DataFrame({'Country': ['Ghana', 'India', 'China', 'USA']})
encoder = OneHotEncoder()
encoder_df = pd.DataFrame(encoder.fit_transform(df2).toarray())
df2 = df2.join(encoder_df)
df2

  Country    0    1    2    3
0   Ghana  0.0  1.0  0.0  0.0
1   India  0.0  0.0  1.0  0.0
2   China  1.0  0.0  0.0  0.0
3     USA  0.0  0.0  0.0  1.0

In [5]:
#LabelEncoding
df3 = pd.DataFrame({'Country': ['Ghana', 'India', 'China', 'USA']})
l_encoder = LabelEncoder()
df3['Country_Code'] = l_encoder.fit_transform(df3['Country'])
df3

  Country  Country_Code
0   Ghana             1
1   India             2
2   China             0
3     USA             3